<section class="free__shipping">
  <owl-carousel-o [options]="mainSlider">
      <ng-template carouselSlide>
          <div class="firstsliderImg  position-relative">
              <div class="position-absolute main__slider">
                  <span>Opening Sale Discount 50%</span>
                  <h1>SuperMarket For Fresh Grocery</h1>
                  <p class="text-muted">Introduced a new model for online grocery shopping and convenient home
                      delivery.</p>
                  <!-- <button class="btn-main">Shop now <i class="fas fa-arrow-right"></i></button> -->
              </div>
              <img src="./assets/images/slide-1.jpg" alt="">
          </div>
      </ng-template>
      <ng-template carouselSlide>
          <div class="secondsliderImg position-relative">
              <div class="position-absolute main__slider">
                  <span>Opening Sale Discount 50%</span>
                  <h1>SuperMarket For Fresh Grocery</h1>
                  <p class="text-muted">Introduced a new model for online grocery shopping and convenient home
                      delivery.</p>
                  <!-- <button class="btn-main">Shop now <i class="fas fa-arrow-right"></i></button> -->
              </div>
              <img src="./assets/images/slider-2.jpg" alt="">
          </div>
      </ng-template>
  </owl-carousel-o>
</section>

<section class="featured__categories ">

  <h2 class="ms-2 mb-3">Featured Categories</h2>
  <owl-carousel-o [options]="featuredCategories">

      <ng-container *ngFor="let cate of categories">
          <ng-template carouselSlide>
              <div class="product">
                  <div class="product__img ">
                      <img [src]="cate.image" [alt]="cate.name" [title]="cate.name">
                  </div>
                  <p>{{cate.name}}</p>
              </div>
          </ng-template>
      </ng-container>

  </owl-carousel-o>
</section>

<!-- Products  -->
<section class="py-4" *ngIf="products.length > 0">
  <h2 class="text-capitalize">popular products</h2>
  <!-- Search input -->
  <input
    type="text"
    class="form-control w-50 mx-auto form-control-sm my-3"
    placeholder="Search"
    [(ngModel)]="term"
  />
  <div class="row g-4">
    <div
      *ngFor="let product of products.reverse()| search : term | slice : 0 : 8"
      class="col-lg-3 col-md-4 col-6"
    >
      <div class="product p-3">
        <!-- add -->
        <i
          *ngIf="!wishListData.includes($any(product._id))"
          (click)="addWishList(product._id)"
          class="fa-regular fa-heart heart fs-2x"
        ></i>

        <!-- remove -->
        <i
          *ngIf="wishListData.includes($any(product._id))"
          (click)="removeFav(product._id)"
          class="fa-solid fa-heart fa-2x heart text-danger"
        ></i>

        <header [routerLink]="['/productDetails', product._id]" role="button">
          <div class="image overflow-hidden">
            <figure>
              <img
                class="w-100"
                [src]="product.imageCover"
                [alt]="product.title"
                [title]="product.title"
              />
            </figure>
          </div>
          <h3 class="small">{{ product.title | cuttext : 3 }}</h3>
          <h4 class="h6 text-main">{{ product.category.name }}</h4>
          <div
            class="product-footer d-flex align-items-center justify-content-between small"
          >
            <span>{{ product.price | currency : "E£" }}</span>
            <!-- Rating -->
            <span>
              <ng-container *ngFor="let num of [1, 2, 3, 4, 5]">
                <i
                  *ngIf="product.ratingsAverage >= num"
                  [class.rating-color]="true"
                  class="fas fa-star"
                ></i>
              </ng-container>
              <span class="text-muted"> {{ product.ratingsAverage }}</span>
            </span>
          </div>
        </header>
        <footer>
          <button
            #btnAdd
            (click)="addProduct(product._id, btnAdd)"
            class="main-btn text-capitalize w-100 mt-1"
          >
            add to cart
          </button>
        </footer>
      </div>
    </div>
  </div>
</section>
